.env                                                                                                  
__pycache__                                                                                           
*.pyc                                                                                                 
*.pyo                                                                                                 
app/core/lib/vendor/                                                                                  
app/core/lib/build/
.git      
